.test {
  margin-left: 30vw;
  animation: bounce 2s ease-in-out infinite;
  animation: name duration timing-function delay iteration-count direction;
}
.box {
    width: 300px;
    height: 300px;
    /* animation: rotate 5s linear infinite; */
}

/* timimg-function:  */
/* linear : constant speed from start to finish */
/* ease : slow -> fast -> fast -> slow */
/* ease-in : slow -> fast */
/* ease-in-out : slow -> fast -> slow */

/* interation-count: */
/* numberic value */
/* infinite  */

@keyframes show {
  0%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes moveRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(50vw);
  }
}

@keyframes changeColor {
  0% {
    color: red;
  }
  /* 50% {
        color: green;
    } */
  100% {
    color: blue;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
    background-color: red;
  }
  100% {
    transform: rotate(360deg);
    background-color: green;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(5vw);
  }
  100% {
    transform: translateY(0);
  }
}
